.window {
  width: 35%;
  margin: auto;
  background-color: #b30400;
  border-radius: 8px;
 &-wrapper {

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0,0,0,0.5);

 }

  &-header {
    border-radius: 8px;

    font-size: 22px;
    padding: 10px 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: red;
  }
  &-body-text {
    text-align: center;
    color:white;
    padding: 30px;
  }
  &-btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin:auto;
  }
}