




:root {
    --hover-green-color: #3cb878;
}

*{
    padding: 0;
    margin: 0;
}

body{

    background: url("../img/bg.png") no-repeat fixed center;
    background-size: cover;
}

.container{
    width: 100%;
}



.title{
    width: 50%;
    padding: 0;
    font-family: Verdana;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 19px  81px ;
}

.title:hover{
    color: var(--hover-green-color);
}

.page-head{
    width: 100%;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    padding: 0;

}
.inner-header-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-self: center;
}


.top-nav{
    display: flex;
    padding: 0;
}

.top-nav ul li {

    padding: 0;
    margin: 0;
    display: inline-block;

}



#calendar{
    width: 20px;
    height :20px;
    background:url("../img/calendar_white.png") no-repeat center;
    background-size: cover;
    margin-right: 28px;


}
#map{
    width: 20px;
    height :20px;
    background:url("../img/map_white.png") no-repeat center;
    background-size: cover;
   }
#news{
    width: 28px;
    height :20px;
    background:url("../img/news_white.png") no-repeat center;
    background-size: cover;
    margin-right: 28px;



}



#calendar:hover {

    background:url("../img/calendar_green.png") no-repeat center;
    background-size: cover;

}
#map:hover {

    background:url("../img/map_green.png") no-repeat center;
    background-size: cover;

}


#news:hover {

    background:url("../img/news_green.png") no-repeat center;
    background-size: cover;


}

.top-link-container{
    width: 35%;
    text-align: center;
    padding-left: 30px;

}


#login-signup{
    font-family: Verdana;
    display: inline;
    font-size: 14px;

    color:white;
    padding: 0;
    margin: 20px 0px 19px  ;
    text-align:center;

}

#login-signup a{
    font-family: Verdana;
    font-size: 14px;
    color: var(--hover-green-color);
    text-decoration: none;
}



#login-signup:hover a{
    border-bottom: 1px solid #3cb878;
}

/*#login-signup::before{*/
/*    content: "";*/
/*    width: 500px;*/
/*    height: 190px;*/
/*    background-color: black;*/
/*    position: relative;*/
/*    */
/*}*/

/*a{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
.inner-container {

    display: flex;
    align-items:center;
    justify-content: center;
    /*display :table;*/
    height: 70%;
    width: 100%;
    /*vertical-align: center;*/
    /*margin: auto;*/
    position: absolute;
    top : 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform    : translate(-50%, -50%)
}

section{
    width: 444px;
    background-color: white;
    border-radius: 7px;

}


.form-sec{
    align-self: center;
    margin: auto;

}

/*section::after{*/
/*    background-color: yellow;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    display: block;*/
/*    position: relative;*/
/*    left:500px;*/
/*}*/

.form-container{

}




#name ,#lastName,#email,#password,#password2{
    display: block;
    width: 322px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 18px;
    border-radius: 6px;
    font-family: Verdana;
    font-size: 14px;
    margin: 9px auto;
    border: none;
    border: 1px solid #eaeaea;
}

#checkbox{
    margin-left: 60px;
    margin-top: 16px ;

}
.createAcc{
    width: 337px;
    color: white;
    margin: 28px auto;
    display: block;
    font-family: Verdana;
    border:none;
    font-size: 16px;
    border-radius: 6px;
    background-color: #3cb878;
    padding: 17px 60px;
}

.createAcc:hover{
    background-color: #329a65;
}


.terms{
    display: inline;
    color: black;
    font-family: Verdana;
    font-size: 14px;
    margin-top: 23px;
}
/*.terms:before {*/

/*    background-color: black;*/
/*    content: "";*/
/*    display: inline-block;*/
/*    height: 100px;*/
/*    position: relative;*/
/*    vertical-align: middle;*/
/*    width: 34%;*/
/*}*/

p a{
    color: var(--hover-green-color);
    font-family: Verdana;
    font-size: 14px;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;

}

#signUp{
    font-family: Verdana;
    font-size: 20px;
    display: inline-block;
    margin-top:30px ;
    margin-left: 36px;
    margin-bottom: 15px;
}

#signUp:before{

    background-color: var(--hover-green-color);
    content: "";
    display: inline-block;
    height: 18px;

    vertical-align: middle;
    width: 18px;
    position: relative;
    right: 36px;
}




#logIn{

    margin-left: 205px;
    color:var(--hover-green-color) ;
    font-family: Verdana;
    font-size: 14px;
    text-decoration: none;

}
#logIn:hover{
    text-decoration: underline;
}











.hor-line {
    overflow: hidden;
    text-align: center;
    font-family: Verdana;
    font-size: 14px;
    color: #b5b5b5;
    margin-bottom: 18px;

}

.hor-line:before,
.hor-line:after {

    background-color: #eaeaea;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 34%;
}

.hor-line:before {
    right: 0.5em;
    margin-left: -50%;
}

.hor-line:after {
    left: 0.5em;
    margin-right: -50%;
}



.facebook-icon{
    width: 168px;
    display: inline-block;
    background-color: #305db8;
    border-radius: 6px;
    margin-left: 53px;

}
.facebook-icon:hover{
    background-color:#264b96 ;
}

.google-icon{
    width: 168px;
    display:  inline-block;
    background-color: #df4a32;
    border-radius: 6px;
    margin-bottom: 32px;
}

.google-icon:hover{

    background-color: #c3412c;
}

.google-icon p{
    color: white;
    font-size: 16px;
    font-family: Verdana;
    display: inline-block;
    margin-top: 12px;
    vertical-align: top;
    margin-left: 30px;

}

.google-icon:after{
    background-color: rgba(0,0,0,0.7);
    content: "";
    display: inline-block;
    height: 20px;
    position: relative;
    bottom: 19px;
    right: 80px;
    vertical-align: middle;
    width: 1px;
    opacity: 0.5;
}

.facebook-icon:after{
     background-color: rgba(0,0,0,0.7);
     content: "";
     display: inline-block;
     height: 20px;
     position: relative;
     bottom: 19px;
     right: 90px;
     vertical-align: middle;
     width: 1px;
 }

.facebook-icon p{
    color: white;
    font-family: Verdana;
    font-size: 16px;
    display: inline-block;
    margin-top: 12px;
    margin-left: 20px;
    vertical-align: top;
}

.facebook-icon   img{
    display: inline-block;
    margin-top: 13px;
    margin-left: 18px;
    margin-bottom: 13px;
}

.google-icon   img{
    display: inline-block;
    margin-top: 15px;
    margin-left: 13px;
    margin-bottom: 15px;
}











input:focus{
    border: none;


}

/**********----------***************/

input:focus {
    outline: none !important;
    box-shadow: 5px 5px 10px  #d6d6d6;
}












