.passed-buttons1 {
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 40px;
  margin: 20px 15px;
}
.passed-buttons2 {
  margin: 20px 15px;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 40px;
}

/*# sourceMappingURL=PageBtn.css.map */
