.card{

  &-delete-btn{
    //padding: 0;
    //margin: 0;
    //transform: scale(0.5);
    position: absolute;
    //top:-70px;
    //bottom: 0;
    //right:0;

  }

  &-container{
    width: 230px;
    border-radius: 8px;
    background-color: #ffa31a;
    margin: 10px 5px;
  }
  &-info{
    width: 180px;
    padding: 0 15px;
    margin: 0;
  }

  &-img {
    border-radius: 8px;
    border: 1px solid #1b1b1b;
    width: 230px;
    margin: 0;
    padding: 0;
    &-wrapper{
      position: relative;
      height:240px;
    }
  }

  &-header {
  display: flex;
  flex-direction: row;
    margin: 8px 15px 10px 0   ;
    padding-right: 15px;
    &-title{
      margin: 0;
      padding: 0;
      font-size: 16px;

    }
    &-author{
      margin: 0;
      padding: 0 5px;
    }
  }

  &-description {
    text-align: left;
    font-size: 13px;
    &-fancy{
      font-weight: bold;
    }
  }

  &-bottom {

    display: flex;
    flex-direction: row;

  }
  &-price {
    padding: 0;
    margin: 0;
  }
  &-button {
    background-color: black ;
    color: white;
    border: none;
    padding: 5px 8px 5px;
    margin: 20px 10px;
    height: 20px;
    border-radius: 5px;
    text-transform: uppercase;
  }
}