.card-delete-btn {
  position: absolute;
}
.card-container {
  width: 230px;
  border-radius: 8px;
  background-color: #ffa31a;
  margin: 10px 5px;
}
.card-info {
  width: 180px;
  padding: 0 15px;
  margin: 0;
}
.card-img {
  border-radius: 8px;
  border: 1px solid #1b1b1b;
  width: 230px;
  margin: 0;
  padding: 0;
}
.card-img-wrapper {
  position: relative;
  height: 240px;
}
.card-header {
  display: flex;
  flex-direction: row;
  margin: 8px 15px 10px 0;
  padding-right: 15px;
}
.card-header-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.card-header-author {
  margin: 0;
  padding: 0 5px;
}
.card-description {
  text-align: left;
  font-size: 13px;
}
.card-description-fancy {
  font-weight: bold;
}
.card-bottom {
  display: flex;
  flex-direction: row;
}
.card-price {
  padding: 0;
  margin: 0;
}
.card-button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 8px 5px;
  margin: 20px 10px;
  height: 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

/*# sourceMappingURL=Card.css.map */
