/*  *{
    box-sizing: border-box;
}*/

.container{
    width: 1280px;
    margin:auto;

}
header h1 a:link {
    color: black;
}
header h1 a:visited {
    color: black;
}


.container a {
    text-decoration: none;
    font-size: 80px;
    font-family: sans-serif;

}
.container span  {
    text-decoration: none;
    font-size: 80px;
    font-family: sans-serif;
    color: #4bcaff;

}

.top-nav{
    width: 100%;
    background-color: #35444f;
    text-align: center;
}

.top-nav a{
    text-decoration: none;
    font-size: 19px;
    color: white;
}

.top-nav ul li {
    display: inline-block;
    padding: 14px 30px;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}


.top-nav ul li:hover {
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;

}

.sidebar{
    width:344px;
    border: 1px solid #35444f;
    padding: 0;
    margin: 0;
    margin-top: 50px;

}

.sidebar ul li {
    padding: 20px 30px;

 }

.sidebar ul li a {
    text-decoration: none;
    font-size: 29px;
    color: #495863;
}

.sidebar li:hover {
    color:black;
    background-color: #dbdbdb;
    padding-left:60px;
    border-left: 1px solid #222f3a;
}
.sidebar li:hover a {
    color:black;
}


.sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-img {
    clear: left;
    margin-bottom: 50px;
    float: right;
    width: 885px;
    height: 529px;
    border: 1px solid #35444f;
  /*  background: #ffffff url("../img/onlyimg.png") no-repeat center;*/
}
.only-image{

  margin: auto;
    display: block;
    position: relative;
    top: 13% ;

    margin-left: auto;
    margin-right:  auto;

    transition:  transform 2s;
}

.only-image:hover{
   transform: scale(1.2);
}
.main-text{
    padding:0 ;
    left:0;
    width :815px;
    float: right;
    font-family: sans-serif;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: px;
    clear: left;
}

.bottombar{
    width: 1280px;
    background-color: #b4b7ba;

    float: right;
    margin-bottom: 30px;
    margin-top: 50px;
}
.bottombar ul{
list-style-type: none;

}
.bottombar ul li {
display: inline;
float: none;
}

.bottombar ul li a {
    font-family:sans-serif ;
    text-decoration: none;
    color: black;
    margin:20px 15px;
    font-size: 20px;

}
.bottombar li:hover a{
    color: #4bcaff;
    border-bottom: 2px solid #4bcaff ;

}
.bottombar p{
    float: right;
    font-family:sans-serif ;
    text-decoration: none;
    color: black;
    margin:20px 15px;
    font-size: 20px;
}



