.passed-buttons1 {
  border: none;
  //background-color: red;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 40px;
  margin: 20px 15px;

  &:hover {
    //background-color: #ff5a30;

  }

}

.passed-buttons2 {
  margin: 20px 15px;
  border: none;
  //background-color: #2300ff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 40px;

  &:hover {
    //background-color: #257eff;

  }
}