.home-page-top-bar{
  display: flex;
  width: 1200px;
  padding: 0 20px;
  justify-content:flex-start ;
  margin: 0 auto;
  background-color:  #ffa31a;
  text-decoration: none;

}
.home-page-top-bar-wrapper{
  width: 100%;
  background-color:  #ffa31a;
}

.link-style {
  color: black;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

.link-style:hover{
  border-radius: 7px;
  color: #ffa31a;
  background-color: black;

}




.App {
  background-color: #1b1b1b;
  width: 1200px;
  padding: 0 20px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
